@*@model ICollection<string>

@{
    ViewData["Title"] = "Select an Indicator";
}

<h1>@ViewData["Title"]</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Indicator Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-route-id="@item" asp-controller="indicator" asp-action="index">@item</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@