
@{
    ViewData["Title"] = "Chart";
}

<h1>Chart</h1>

<div id="my_dataviz"></div>

@section scripts{
    <script type="text/javascript" src="~/js/charts.js"></script>
    @*<script type="text/javascript" src="~/js/map.js"></script>*@
    <script type="text/javascript">


    </script>
}