@{
    ViewData["Title"] = "Home Page";
}

<div id="map"></div>



@section scripts{ 
    <script type="text/javascript" src="~/js/charts.js"></script>
    @*<script type="text/javascript" src="~/js/map.js"></script>*@
<script type="text/javascript">
    StartMap();
</script>
}