@{
    ViewData["Title"] = "Create Chart";
}

<div id="Chart">

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Chart Name</span>
        </div>
        <input v-model="chartName" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>


    <div class="row">
        <div class="float-container">

            <div class="float-child-chart" v-show="aggregateDisplay">
            @*Draw the chart below*@
            <div id="ChartArea" class="col-12"></div>
            </div>

            <div class="float-child-legend" v-show="aggregateDisplay">
                <ul>
                    <li v-for="(listItem) in listItems">
                        {{listItem}}
                    </li>
                </ul>
            </div>

            <div class="float-child-aggregate" v-show="aggregateDisplay">
                <p id="AggregateAreaFull"><pre>{{aggregateDataFull}}</pre></p>
                <p id="AggregateAreaSelected"><pre>{{aggregateDataSelected}}</pre></p>
            </div>
        </div>
    </div>



    @* The files are named the year that they represent. *@
    <select @@change="setChartAttributes($event)" id="Year" name="Year">
        <option value="SelectYear">Select a Year</option>
        @foreach (var file in (string[])ViewData["Files"])
        {
            <option value="@file">@file</option>
        }
    </select>


    <div class="row">
        <div class="col-4">
            <label for="columns">Health Attributes</label>
            <ul @@click="readHealthAttribute($event)" id="HealthAttrs" style="list-style: none; height: 300px" class="form-control overflow-auto">
            </ul>
        </div>
        <div class="col-4">
            <label for="counties">Counties</label>
            <ul @@click="readCountyCheckbox($event)" id="Counties" style="list-style: none; height: 300px" class="form-control overflow-auto">
            </ul>
        </div>
        <div class="col-4">
            <label for="regions">Regions</label>
            <ul @@click="readRegionCheckbox($event)" id="Regions" style="list-style: none; height: 300px" class="form-control overflow-auto">
            </ul>
        </div>
    </div>
    <button>Save Chart</button>
</div>


@section scripts{
    <script type="module" src="~/js/createChart.js"></script>
}