@{
    ViewData["Title"] = "Create Chart";
}

<div id="Chart">
    <!--/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\Chart and Aggregate Section/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->
    <div class="row" v-show="DisplayAggregatePane" id="divAggregate" v-cloak>
        <!--Main Chart-->
        <div class="float-container">
            <div class="float-child-chart">
                @*Draw the chart below*@
                <div id="ChartArea" class="col-12"></div>
            </div>
            <!--Legend-->
            <div class="float-legend-div">
                <h5>Location || Percentile</h5>
                <ul v-for="(listItem, index) in legendListItems" class="legendList">
                    <li v-bind:style="{ color: dotColorArray[index]}">{{listItem}}</li>
                </ul>
            </div>
            <!--Full aggregate-->
            <div class="float-child-aggregate-left">
                <h5>All U.S</h5>
                <p id="AggregateAreaFull"><pre>{{resultAggregateColumn}}</pre></p>
            </div>
            <!--Selected aggregate-->
            <div class="float-child-aggregate-right">
                <h5>Selected Regions</h5>
                <p id="AggregateAreaSelected"><pre>{{resultAggregateSelected}}</pre></p>
            </div>
        </div>
    </div>

    <!--/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\Control Section/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->
    <div>
        <!--Clear Button-->
        <div class="divBtnClear" v-show="DisplayAggregatePane" v-cloak>
            <button @@click="clearButton()" class="btnClear" v-show="DisplayAggregatePane">Clear Selection</button>
        </div>
        @* The files are named the year that they represent. *@
        <div class="divYear" v-cloak>
            <!--Select year dropdown-->
            <label class="labelYearSelect" for="Year">Year Select</label>
            <select @@change="setChartAttributes($event)" id="Year" name="Year">
                <option value="SelectYear">Select a Year</option>
                @foreach (var file in (string[])ViewData["Files"])
                {
                    <option value="@file">@file</option>
                }
            </select>
        </div>
        <div class="divAttributeFilter" v-cloak>
            <!--Select attribute filter dropdown-->
            <label class="labelAttributeFilter" for="attributeFilter" v-show="displayFilter">Attribute Filter</label>
            <select name="attributeFilter" id="attributeFilter" v-show="displayFilter" v-model="filterSelect">
                <option disabled value="">Please select one</option>
                <option v-for="(filterItem, index) in filterAttributeOptions" :key="filterItem" :value="filterItem">
                    {{filterItem}}
                </option>
            </select>
        </div>
        <!--county state switch-->
        <span class="countryStateSwtich" v-show="DisplayAggregatePane" v-cloak>
            <label for="counties">Counties</label>
            <label class="switch">
                <input type="checkbox" id="checkbox" v-on:click="countyStateToggle" />
                <span class="slider round"></span>
            </label>
            <label for="states">States</label>
        </span>
        <!--Save/Load-->
        <div class="divRegionSaveLoad" v-cloak>
            <label class="labelRegionSaveLoad" for="regionSaveLoad" v-show="DisplayAggregatePane">Regions</label>
            <select v-model="regionSaveLoadSelect" v-show="DisplayAggregatePane" class="regionSaveLoad">
                <option disabled value="">Options</option>
                <option value="SAVE">Save</option>
                <option value="LOAD">Load</option>
            </select>
            <input type="file" @@input="readFile($event)" id="readFile" style="display: none;" accept=".txt" />
        </div>
    </div>

    <!--/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\Selection Section/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->
    <div class="row" id="SelectRow">
        <!--Select health attribute list-->
        <div class="col-4" v-show="displayHealthAttribute" v-cloak>
            <label class="labelHealthAttrs" for="HealthAttrs">Health Attributes</label>
            <ul @@click="readHealthAttribute($event)" id="HealthAttrs" style="list-style: none; height: 300px" class="form-control overflow-auto">
            </ul>
        </div>
        <!--Select county or state list-->
        <div class="col-4" v-show="DisplayAggregatePane" v-cloak>
            <label class="labelCounties" for="Counties">Locations</label>
            <ul @@click="readCountyCheckbox($event)" id="Counties" style="list-style: none; height: 300px" class="form-control overflow-auto"></ul>
        </div>
        <!--Anomaly Output-->
        <div class="col-4" v-show="DisplayAggregatePane" v-cloak>
            <label class="labelAnomalies" for="Anomalies">Anomalies</label>
            <ul id="Anomalies" style="list-style: none; height: 300px" class="form-control overflow-auto">
                <li>
                    Under Construction
                </li>
            </ul>
        </div>
    </div>
    <!--<label for="checkbox">{{ regionSaveLoadSelect }}</label>-->
</div>

@section scripts{
    <script type="module" src="~/js/createChart.js"></script>
}