<!--Note that the Ajax call has hard coded dependencies.-->
@model CPH.Models.ViewModels.UploadCSVModel

@{
    ViewData["Title"] = "Upload CPH Data";
}

<h1>CSV Upload</h1>

<h4>Upload yearly CSV's from the County Health Rankings website.</h4>
<hr />

@* Stylizing classes uses Twitter Bootstrap CSS library. Form-groups hold content for areas of the DOM. *@
<div class="row">
    <div class="col-md-4">

        @* JavaScript grabs the upload-form id and manipulates the uploaded file.*@
        <div id="upload-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- User Identity Input -->
            <div class="form-group">
                <input v-model="userId" id="UserIdentity" hidden value="@User.Identity.Name" asp-for="UserIdentity" class="form-control" />
                <span asp-validation-for="UserIdentity" class="text-danger"></span>
            </div>

            <!-- Date Input -->
            <div class="form-group">
                <input v-model="uploadDate" hidden id="UploadDate" value="@DateTime.Now" asp-for="UploadDate" class="form-control" />
                <span asp-validation-for="UploadDate" class="text-danger"></span>
            </div>

            <!-- Altered File Input -->
            <input @@change="alteredCsv" id="AlteredFile" type="file" asp-for="AlteredFile" class="form-control" accept=".csv, .xlsx, .xlsm, .xlsb, .xls" hidden />

            <!-- Original File Input-->
            <div class="form-group">
                <label class="control-label">Select a CSV File</label>
                 <input @@change="setAlteredCsv($event)" id="OriginalFile" type="file" asp-for="OriginalFile" class="form-control" accept=".csv, .xlsx, .xlsm, .xlsb, .xls"  />
            </div>

            <!--Submit button-->
            <div class="form-group">
                <input id="upload-button" @@click="validateAndUploadCsv()" type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script src="/js/uploadCsv.js"></script>

}
