/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\General Settings/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/


/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\CreateChart: Chart and Aggregate Section/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
.float-child-chart {
    width: 70%;
    float: left;
    border: inset;
}

.float-legend-div {
    width: 30%;
    float: left;
    padding: 20px;
    border: inset;
    height: 40%;
    max-height: 258px;
    display: block;
    overflow: hidden;
    overflow-y: scroll;
}

.float-legend-div > * {
    margin-top: -20px;
    margin-left: -15px;
}

.legendList {
    margin: 0;
    padding: 0.2em;
    line-height: 1em;
    font-size: 14px;
    font-weight: bold;
}

.float-child-aggregate-left {
    width: 30%;
    float: left;
    padding: 20px;
    border: inset;
    height: 30%;
    display: inline;
    overflow: hidden;
}

.float-child-aggregate-left > * {
    margin-top: -20px;
    margin-left: -15px;
    font-size: 16px;
}

.float-child-aggregate-left > h5, .float-child-aggregate-right > h5, .float-legend-div > h5 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.float-child-aggregate-right {
    width: 30%;
    float: left;
    padding: 20px;
    border: inset;
    height: 30%;
    overflow: hidden;
}

.float-child-aggregate-right > * {
    margin-top: -20px;
    margin-left: -15px;
    font-size: 16px;
}

.float-container {
    border: 1px solid #fff;
    padding: 20px;
}

/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\CreateChart: Control Section/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
.divYear {
    display: inline-block;
}

.labelYearSelect, Year {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.divAttributeFilter {
    display: inline-block;
    padding-left: 8%;
}

.labelAttributeFilter, attributeFilter {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.countryStateSwtich {
    padding-left: 6%;
    font-size: 18px;
    font-weight: bold;
}

.divBtnClear {
    display: block;
    margin-left: 45.7%;
    margin-bottom: -2.6%;
    z-index: 1;
    position: relative;
}

.btnClear {
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    color: black;
    border-radius: 30%;
    background-color: silver;
}

.divRegionSaveLoad {
    display: inline-block;
    padding-left: 20%;
}

.labelRegionSaveLoad, regionSaveLoad {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

/*----------CreateChart: Switch Settings----------*/
/* Switch positional controls */
.switch {
    position: relative;
    display: inline-block;
    width: 10%;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Switch background appearance */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 15%;
    background-color: blue;
    -webkit-transition: .4s;
    transition: .4s;
}

/* Switch inner dot appearance */
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2%;
    bottom: 5%;
    background-color: white;
    -webkit-transition: .8s;
    transition: .8s;
}

/* Swtich clicked logic */
input:checked + .slider {
    background-color: green;
}

/* Swtich focus effect */
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

/* Controls the swtich's range of movement */
input:checked + .slider:before {
    -webkit-transform: translateX(310%);
    -ms-transform: translateX(310%);
    transform: translateX(310%);
}

/* Rounds the sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {      
    border-radius: 50%;
}

/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\CreateChart: Selection Section/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
.labelHealthAttrs {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 1%;
    margin-bottom: -1%;
    border-style: ridge ridge none ridge;
}

.labelCounties {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 1%;
    margin-bottom: -1%;
    border-style: ridge ridge none ridge;
}

#HealthAttrs {
    font-weight: bold;
    margin-left: 0.25%;
}

#Counties {
    font-weight: bold;
    margin-left: 0.25%;
}

#SelectRow {
    margin-top: 1%;
}

.labelAnomalies {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 1%;
    margin-bottom: -1%;
    border-style: ridge ridge none ridge;
}
/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\Vue.js Settings/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
[v-cloak] {
    display: none;
}