@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">

    <h1>Find a Location</h1>
    <p>
        This site provides visualization and ranking of national public health indicators for counties in the United States.
        Find your county and select an indicator to see how it compares to other counties in the nation!
    </p>
    <p>
        <a class="btn btn-info btn-sm"
           asp-controller="Region"
           asp-action="Index"
           role="button"
           name="selected"
           value="region">
            Find a region
        </a>
        <a class="btn btn-info btn-sm"
           asp-controller="Division"
           asp-action="Index"
           role="button"
           name="selected"
           value="division">
            Find a division
        </a>
        <a class="btn btn-info btn-sm"
           asp-controller="State"
           asp-action="Index"
           role="button"
           name="selected"
           value="state">
            Find a state
        </a>
        <a class="btn btn-info btn-sm"
           asp-controller="County"
           asp-action="Index"
           role="button"
           name="selected"
           value="county">
            Find a county
        </a>
    </p>
</div>