@model IEnumerable<CPH_IVT.Models.County>

@{
    ViewData["Title"] = "Select a County";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                County Name
            </th>
            <th>
                County FIPS Code
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="County" asp-action="Indicators"asp-route-id="@item.CountyId">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountyFIPS)
            </td>
        </tr>
}
    </tbody>
</table>
